{% extends 'base.html' %}

{% block content %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'home' %}">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Transferências</li>
  </ol>
</nav>
{% endblock %}



<h2 class="mb-5"> Transferências </h2>

<div class="card">
  <div class="card-header px-2">
    <div class="col d-flex w-100 justify-content-between m-0 ">
      <div class="row">
        <div class="col">
          <!-- Button trigger modal -->
          <div class="dropdown me-2">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="loader me-1"></span>
              <i class="fa-solid fa-plus icon me-2" style="display: none;"></i>Novo...
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#formModalReceipt" data-bs-toggle="modal">Recebimento</a></li>
              <li><a class="dropdown-item" href="#formModalPayment" data-bs-toggle="modal">Pagamento</a></li>
            </ul>
          </div>

          <!-- Formulário da nova categoria -->

          <form method="post" action="{% url 'new_receipt' %}">
            {% csrf_token %}
            <div class="modal fade" id="formModalReceipt" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="formModalReceipt">Novo Recebimento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <select class="form-select mb-3" name="bank_account" aria-label="Selecione a Conta Caixa:"
                      placeholder="Selecione a Conta Caixa" required>
                      <option selected>Selecione a Conta Caixa:</option>
                      {% for account in bank_accounts %}
                      <option value="{{account.id}}">{{account.name}}</option>
                      {% endfor %}
                    </select>
                    <select class="form-select mb-3" name="supplier" aria-label="Selecione o Cliente ou Fornecedor:"
                      placeholder="Selecione o Cliente ou Fornecedor:" required>
                      <option selected>Selecione o Cliente ou Fornecedor: </option>
                      {% for supplier in suppliers %}
                      <option value="{{supplier.id}}">{{supplier.name}}</option>
                      {% endfor %}
                    </select>
                    <select class="form-select mb-3" name="account" aria-label="Selecione a Conta Contábil"
                      placeholder="Selecione o Cliente ou Fornecedor:" required>
                      <option selected>Selecione a Conta Contábil:</option>
                      {% for account in accounts %}
                      <option value="{{account.id}}">{{account.name}}</option>
                      {% endfor %}
                    </select>
                    <div class="col-md-2">
                      <input type="date" name="start_date">
                      <input type="date" name="end_date">
                    </div>
                    <input type="number" class="form-control mb-3" name="value" placeholder="Quantia:">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Formulário da nova conta contábil -->

          <form method="post" action="{% url 'new_payment' %}">
            {% csrf_token %}
            <div class="modal fade" id="formModalPayment" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Novo Pagamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <select class="form-select mb-3" name="bank_account" aria-label="Selecione a Conta Caixa:"
                      placeholder="Selecione a Conta Caixa" required>
                      {% for account in bank_accounts %}
                      <option value="{{account.id}}">{{account.name}}</option>
                      {% endfor %}
                    </select>
                    <select class="form-select mb-3" name="supplier" aria-label="Selecione o Cliente ou Fornecedor:"
                      placeholder="Selecione o Cliente ou Fornecedor:" required>
                      {% for supplier in suppliers %}
                      <option value="{{supplier.id}}">{{supplier.name}}</option>
                      {% endfor %}
                    </select>
                    <select class="form-select mb-3" name="account" aria-label="Selecione o Cliente ou Fornecedor:"
                      placeholder="Selecione o Cliente ou Fornecedor:" required>
                      {% for account in accounts %}
                      <option value="{{account.id}}">{{account.name}}</option>
                      {% endfor %}
                    </select>
                    <input type="number" class="form-control mb-3" name="value" placeholder="Quantia:">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i
                        class="fa-solid fa-floppy-disk me-2"></i>Salvar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-auto p-0">
        <form class="d-flex float-start" method="POST" action="{% url 'search_bar' %}">
          {% csrf_token %}
          <input type="date" name="start" class="form-control form-control-sm mx-2">
          <input type="date" name="end" class="form-control form-control-sm mx-2">
          <input type="search" class="form-control form-control-sm mx-2" placeholder="Filtrar..." name="searched">
        </form>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-hover table-borderless table-striped table-sm mb-0 sortable">
      <thead class="bg-light clickable">
        <tr>
          <th scope="col px-1">#</th>
          <th scope="col">Cliente e Fornecedor</th>
          <th scope="col">Tipo de Transferência</th>
          <th scope="col">Conta Contábil</th>
          <th scope="col">Conta Caixa</th>
          <th scope="col">Valor</th>
          <th scope="col">Início</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>

        <!-- Nessa parte, além de todos os objetos serem renderizados, há também
          a possibilidade de renderizar os resultados da pesquisa dentro do bloco
          "table" quando a url "filtrar" for chamada -->

        {% for transfer in transfers %}
        <tr class="align-middle">
          <td class="px-2">{{ transfer.id }}</td>
          <td>{{ transfer.supplier }}</td>
          <td>{{ transfer.transfer_type }}</td>
          <td>{{ transfer.account }}</td>
          <td>{{ transfer.bank_account }}</td>
          <td>{{ transfer.start_date }}</td>
          <td>{{ transfer.end_date }}</td>
          <td>R$ {{ transfer.value }}</td>
          <td class="h-100">

            <!-- Essa célula da tabela contém os botões e os modais responsáveis por modificar as informações
                contidas em cada linha. Modificando a target e a id do modal para o id do objeto cria um link
                entre eles, fazendo com que um mostre as informações do objeto em questão, substituindo o
                argumento "instance" do django-forms. -->

            <div class="d-flex">
              <button type="button" class="btn btn-sm btn-secondary m-1" data-bs-toggle="modal"
                data-bs-target="#{{account.id}}" style="position: static;">
                <span class="loader"></span>
                <i class="fa-solid fa-arrows-rotate icon" style="display: none;"></i>
              </button>
              <form method="post" action="">
                {% csrf_token %}
                <div class="modal fade" id="{{account.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Novo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <input type="text" class="form-control" name="name" placeholder="Nome da Instituição"
                              value="{{ account.name }}">
                          </div>
                          <div class="col-md-6">
                            <input type="text" class="form-control" name="account_type" placeholder="Tipo da Conta"
                              value="{{ account.account_type }}">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <input type="text" class="form-control" name="account_number" placeholder="Número da Conta"
                              value="{{ account.account_number }}">
                          </div>
                          <div class="col-md-6">
                            <input type="number" class="form-control" name="agency" placeholder="Agência"
                              value="{{ account.agency }}">
                          </div>
                        </div>
                        <input type="text" class="form-control mb-3" name="titular_name" placeholder="Nome do Titular"
                          value="{{ account.titular_name }}">
                        <input type="text" class="form-control mb-3" name="titular_document"
                          placeholder="Documento do Titular" value="{{ account.titular_document }}">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i
                            class="fa-solid fa-floppy-disk me-2"></i>Salvar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <a href="{% url 'delete_transfer' transfer.id %}" class="btn btn-sm btn-danger m-1"
                style="height: 10%;position: static;">
                <span class="loader"></span>
                <i class="fa-solid fa-trash icon" style="display:none;"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}