{% extends 'base.html' %}

{% block content %}
  {% block breadcrumb %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item">
          <a class="breadcrumb-link" href="{% url 'home' %}">Início</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Transferências</li>
      </ol>
    </nav>
  {% endblock %}

  <h2 class="mb-5">Transferências</h2>

  <div class="card">
    <div class="card-header">
      <div class="col d-flex w-100 justify-content-between m-0">
        <div class="row">
            <div class="col ps-1">
              <!-- Button trigger modal -->
              <div class="dropdown p-0">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="loader me-1"></span>
                  <i class="fa-solid fa-plus icon me-2" style="display: none;"></i>Novo...
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <a class="dropdown-item" href="#formModalReceipt" data-bs-toggle="modal">Recebimento</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#formModalPayment" data-bs-toggle="modal">Pagamento</a>
                  </li>
                </ul>
              </div>

              <!-- Formulário da nova categoria -->

              <form method="post" class="form-floating" action="{% url 'new_receipt' %}">
                {% csrf_token %}
                <div class="modal fade" id="formModalReceipt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="formModalReceipt">Novo Recebimento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="form-floating">
                          <select class="form-select mb-3" id="receipt_bank_account" name="bank_account" aria-label="Selecione a Conta Caixa:" placeholder="Selecione a Conta Caixa" required>
                            {% for account in bank_accounts %}
                              <option value="{{ account.id }}">{{ account.name }}</option>
                            {% endfor %}
                          </select>
                          <label for="receipt_bank_account">Selecione a Conta Caixa:</label>
                        </div>
                        <div class="form-floating">
                          <select class="form-select mb-3" id="receipt_supplier" name="supplier" aria-label="Selecione o Cliente ou Fornecedor:" placeholder="Selecione o Cliente ou Fornecedor:" required>
                            {% for supplier in suppliers %}
                              <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                            {% endfor %}
                          </select>
                          <label for="receipt_supplier">Selecione o Cliente e Fornecedor:</label>
                        </div>
                        <div class="form-floating">
                          <select class="form-select mb-3" id="receipt_account" name="account" aria-label="Selecione a Conta Contábil" placeholder="Selecione o Cliente ou Fornecedor:" required>
                            {% for account in accounts %}
                              <option value="{{ account.id }}">{{ account.name }}</option>
                            {% endfor %}
                          </select>
                          <label for="receipt_account">Selecione a Conta Contábil:</label>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <label class="ms-1 mb-1" for="receipt_start_date">Data de Início</label>
                            <input type="date" id="receipt_start_date" class="form-control col-md-4" name="start_date" required />
                          </div>
                          <div class="col-md-6">
                            <label class="ms-1 mb-1" for="payment_start_date">Data de Vencimento</label>
                            <input type="date" id="payment_start_date" class="form-control col-md-4" name="end_date" required />
                          </div>
                        </div>
                        <input type="number" class="form-control mb-3" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" name="value" placeholder="Valor:" required />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- Formulário da nova conta contábil -->

              <form method="post" action="{% url 'new_payment' %}">
                {% csrf_token %}
                <div class="modal fade" id="formModalPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="formModalReceipt">Novo Pagamento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="form-floating">
                          <select class="form-select mb-3" id="receipt_bank_account" name="bank_account" aria-label="Selecione a Conta Caixa:" placeholder="Selecione a Conta Caixa" required>
                            {% for account in bank_accounts %}
                              <option value="{{ account.id }}">{{ account.name }}</option>
                            {% endfor %}
                          </select>
                          <label for="receipt_bank_account">Selecione a Conta Caixa:</label>
                        </div>
                        <div class="form-floating">
                          <select class="form-select mb-3" id="receipt_supplier" name="supplier" aria-label="Selecione o Cliente ou Fornecedor:" placeholder="Selecione o Cliente ou Fornecedor:" required>
                            {% for supplier in suppliers %}
                              <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                            {% endfor %}
                          </select>
                          <label for="receipt_supplier">Selecione o Cliente e Fornecedor:</label>
                        </div>
                        <div class="form-floating">
                          <select class="form-select mb-3" id="receipt_account" name="account" aria-label="Selecione a Conta Contábil" placeholder="Selecione o Cliente ou Fornecedor:" required>
                            {% for account in accounts %}
                              <option value="{{ account.id }}">{{ account.name }}</option>
                            {% endfor %}
                          </select>
                          <label for="receipt_account">Selecione a Conta Contábil:</label>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <label class="ms-1 mb-1" for="receipt_start_date">Data de Início</label>
                            <input type="date" id="receipt_start_date" class="form-control col-md-4" name="start_date" required />
                          </div>
                          <div class="col-md-6">
                            <label class="ms-1 mb-1" for="payment_start_date">Data de Vencimento</label>
                            <input type="date" id="payment_start_date" class="form-control col-md-4" name="end_date" required />
                          </div>
                        </div>
                        <input type="number" class="form-control mb-3" name="value" placeholder="Valor:" required />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
                 
        </div>
        <div class="row p-0 d-flex justify-content-end">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 5.5em;position: static;">
            <i class="fa-regular fa-calendar-days pe-2"></i>Filtrar
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Filtrar por Data:</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'filtered_objects' %}" class="d-flex col" method="get";>
                    <input type="date" name="start" class="form-control form-control-sm mx-2" />
                    <input type="date" name="end" class="form-control form-control-sm mx-2" />
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa-regular fa-calendar-days"></i>Filtrar</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <form class="d-flex float-start col-6 px-1" method="POST" action="{% url 'search_bar' %}">
            {% csrf_token %}
            <input type="search" class="form-control form-control-sm mx-1" placeholder="Filtrar..." name="searched" />
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body p-0 overflow-auto">
      <table class="table table-hover table-borderless table-sm mb-0 sortable">
        <thead class="clickable">
          <tr>
            <th scope="col px-1">#</th>
            <th scope="col">Cliente e Fornecedor</th>
            <th scope="col">Tipo de Transferência</th>
            <th scope="col">Conta Contábil</th>
            <th scope="col">Conta Caixa</th>
            <th scope="col">Início</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Valor</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <!--  Nessa parte, além de todos os objetos serem renderizados, há também
          a possibilidade de renderizar os resultados da pesquisa dentro do bloco
          "table" quando a url "filtrar" for chamada  -->

          {% include 'transfers/transfers_list.html' %}
          {% block table %}

          {% endblock %}
        </tbody>
        <tfoot class="border-top table-light">
          <tr>
            <td colspan="2">
            <a href="{% url 'export' %}" class="btn btn-sm btn-secondary m-1">
              <i class="fa-solid fa-file pe-2"></i>Exportar para PDF
            </a>
            </td>   
            <td colspan="4"></td>
            <td>
              <strong>Total:</strong>
            </td>
            <td>
              <strong>R$ {{ transfer_sum.value__sum|floatformat:2 }}</strong>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{% endblock %}
